
*.obj
*.json
_build
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode
